@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#content {
    margin-top: 30px;
}
.logo {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}
